{{#if resume.projects.length}}
<div class="container project-container">
    {{> title value="Open Source Projects"}}

    {{#each resume.projects}}
        <div class="item">
            <div class="item-header clearfix">
                <h4 class="item-title pull-left">{{name}}</h4>
                <span class="item-date pull-right">
                    {{#if startDate}}
                        {{formatDate startDate}}
                        {{#if endDate}}
                             - {{formatDate endDate}}
                        {{else}}
                             - Present
                        {{/if}}
                    {{/if}}
                </span>
            </div>
            <div class="item-subtitle">
                {{#if url}}
                <a href="{{url}}" target="_blank">{{removeProtocol url}}</a>
                {{/if}}
            </div>

            {{#if description}}
            <p>{{description}}</p>
            {{/if}}

            {{#if highlights.length}}
            <ul>
                {{#each highlights}}
                <li>{{.}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    {{/each}}
</div>
{{/if}}
